<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="EUC-KR">
		<title>Product List</title>
	</head>
	<body>
		<h2>Product List</h2>
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Category</th>
					<th>Price</th>
					<th>Name</th>
					<th>Stock Quantity</th>
					<th>Detail(상세보기)</th>
					<th>Update(수정하기)</th>
					<th>Cart(장바구니)</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.id}"></td>
					<td th:text="${product.category}"></td>
					<td th:text="${product.price}"></td>
					<td th:text="${product.product_name}"></td>
					<td><a th:href="@{/products/detail/{id}(id=${product.id})}"></a></td>
					<td><a th:href="@{/products/update/{id}(id=${product.id})}"></a></td>
					<td><a th:href="@{/products/cart/{id}(id=${product.id})}"></a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>